body {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: right; */
    align-items: left;
    height: 100vh;
    background-color: rgba(160, 137, 111, 0.418);
}

.carticon {
    left: 50%;
    height: 30px;
    text-decoration: none;
    color: black;
}

.CartHoverContent {
    /* display: none; */
    padding-left: 10px;
    border: 1px solid gray;
    /* visibility: hidden;
    opacity: 0; */
    transition: 0.5s;
    box-sizing: border-box;
    top: 1%;
    left: 60%;
    background: #fff;
    position: absolute;
    height: 200px;
    width: 360px;
    bottom: 0;
}

.CartHoverP {
    font-size: 14px;
    font-weight: 500;
    box-sizing: content-box;
    color: rgb(68, 68, 68);
    display: block;
    font-family: "Lineto Brown Sub", "Lineto Brown Light Sub", Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 18.2px;
    margin-block-end: 8.4px;
    margin-block-start: 4.2px;
    margin-bottom: 8.4px;
    margin-top: 4.2px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Subbt {
    background-color: rgb(34, 34, 34);
    font-family: "Lineto Brown Sub", "Lineto Brown Light Sub", Verdana, sans-serif;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 21px;
    transition: .25s cubic-bezier(.65, .05, .36, 1);
    transition-property: background-color, color, border-color;
    position: absolute;
    border: #211e22;
    display: table-cell;
    vertical-align: middle;
}

.SmallTextCartHover {
    color: rgb(68, 68, 68);
    font-size: 12px;
    font-family: "Lineto Brown Sub", "Lineto Brown Light Sub", Verdana, sans-serif;
    padding-top: 60px;
}

.SmallTextCartHover a {
    color: rgb(68, 68, 68);
}